body{
    font-family: 'Work Sans', sans-serif;
}

.navbar{
    background-color: #535474;
    padding: 10px 15px;
    color: white;
}

.navbar-brand{
    font-size: 2.2rem;
    padding-left: 20px;
}

/* make the search bar go to the end of nav bar */
.searchBar { 
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border: 1px solid #ccc;
}

.submissionfield {
    padding: 10px;
    height: 500px;
    width: 800px;
}

.container{
    display: flex;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
}